<!doctype html>

<html lang="en">

    <head>

        <!-- Required meta tags -->

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384- g0yReiXCbMQx3Xipma34ND+dH/140784/j6cY/1JTQUOhcWr7x91voRxT2M2w1T crossorigin="anonymous">

        <title>Welcome to FlaskBlogMax</title>

    </head>

    <body>
<nav class="navbar navbar-expand-md navbar-light bg-light"> 
	<a class="navbar-brand" href="{{ url_for('index')}}">FlaskBlog</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-
	expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		<li class="nav-item">
			
			<a class="nav-link" href="#">About</a>

		</li>
		<li class="nav-item">

			<a class="nav-link" href="{{url_for('create')}}">New Post</a> <!-- Додали линк -->

		</li> 
		</ul>
</div>

</nav>

<div class="container">

	{% for message in get_flashed_messages() %}

		<div class="alert alert-danger">{{ message }}</div> <!-- Повідомлення -->

	{% endfor %}

	{% block content %} {% endblock %}

</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965Dz08rT7abK41JStQIAqVgRVzpbzo5smXXp4YFRvH
+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384- U02eTOCpHqdS3Q6hJtySKVphtPhzWj9W01c1HTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384- 
JjSmVgyd@p3pXB1rRibZUAYoIIy60rQ6VrjIEaff/nJGzIxFDsf4x0xIM+B87jRM" crossorigin="anonymous"></script>

	</body>

</html>