{% extends 'base.html' %}

{% block content %}
  <h2>LOG IN</h2>
  <h6>New to this site?<a href="{{ url_for('add_user') }}"> Create Your Account</a></h6>
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="post">
    <div class="form-group">
      <label for="first_name">First name:</label>
      <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
{% endblock %}